# Part ACE Project
Old code/
brat_output/
BIO_ACE*/
BIO_CUE*/
CUE*/
brat_annotated_v1/
annotations_ace_confirmed_cases_v3.xlsx
normalized_annotations_ace_confirmed_cases_v2.xlsx
Example annotator.ipynb

# Part anotacionACE
classify_useful_notes/
model/
data/
Explanation.docx

# All txt files
*.txt

# All excel files
*.xlsx

# Bibliography folder
Bibliography/

# Brat folder
brat\
ACE_brat.zip
brat/
Brat ACE annotations/

